@import "/vendor/sora.css";
@import "/vendor/mojangles.css";

:root {
  color-scheme: dark light;
}

a {
    color: light-dark(#000080, skyblue) /* or #a0c4ff */;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: "Sora";
    letter-spacing: -0.01em;
    margin: 20px;
    background-color: light-dark(lavender, canvas);
    max-width: 960px;
}

.icon {
    /* stop link from expanding a bit below image */
    display: block;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
}

h1, h2, p, ul, figure {
    margin: 0;
    font-weight: normal;
}

ul {
    padding-left: 20px;
    list-style-type: disc;
    line-height: 1.25em;
}

code {
    font-size: 15px;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 32px;
}

.mojangles {
    font-family: Mojangles;
    letter-spacing: initial;
}

.mcchat {
    font-family: Mojangles;
    letter-spacing: initial;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0 rgb(from currentcolor calc(r * 0.25) calc(g * 0.25) calc(b * 0.25));
    padding: 0.5em;
    max-width: 50%;
}

@media (prefers-color-scheme: dark) {
    .mojangles {
        text-shadow: 0.1em 0.1em 0 rgb(from currentcolor calc(r * 0.25) calc(g * 0.25) calc(b * 0.25));
    }
}
