@import "/vendor/sora.css";
@import "/vendor/mojangles.css";

:root {
  color-scheme: dark light;
}

a {
    color: light-dark(#000080, skyblue) /* or #a0c4ff */;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: "Sora";
    margin: 20px;
    background-color: light-dark(lavender, canvas);
}

.icon {
    /* stop link from expanding a bit below image */
    display: block;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
}

h1, p, ul {
    margin: 0;
}

ul {
    padding-left: 20px;
    list-style-type: disc;
    line-height: 1.25em;
}

h1 {
    font-size: 44px;
    font-weight: normal;
}

.mojangles {
    font-family: Mojangles;
}

@media (prefers-color-scheme: dark) {
    .mojangles {
        text-shadow: 0.1em 0.1em 0 rgb(from currentcolor calc(r * 0.25) calc(g * 0.25) calc(b * 0.25));
    }
}
